@charset "UTF-8";

/* # 아이폰 대응 */
button,
input[type="button"]
{-webkit-appearance: none; border-radius: 0; /*아이폰 스타일 방지*/}

* {
	-webkit-text-size-adjust: none; /*아이폰 반응형 폰트크기 방지*/
	-webkit-overflow-scrolling:touch !important; /*아이폰 가속스크롤 추가(버벅임)*/
}


/* # reset */
a {color: #0b7cc1;}



/* # custom */
#header {}

#logo {}

#gnb {}

main {max-width: 1000px; margin: auto;}

#cont {}

#quick {}

#footer {}

.tbl1 {width: 100%;}
	.tbl1 th {background: #ccc; padding: 8px 0;}
	.tbl1 td {border-bottom: solid 1px #ccc; padding:6px 6px;}
	.tbl1 .on td {background: #ddd;}

.btn_area1 {margin-top:25px; text-align: center;}
	.btn_area1 a, .btn_area1 button {display:inline-block; background:white; border: solid 1px #ccc; text-decoration: none; padding: 0.3em 1em;
		color: #666; font-weight: bold; border-radius: 6px;
	}
	.btn_area1 a:hover, .btn_area1 button:hover {background: #ddd; transition: 1000ms;}
	.btn_area1 .btn_error {background: #ffece5}