@charset "UTF-8";

body {margin: 4%;}

/* layout */
/*
header
	logo gnb
container
	lnb main
footer
 */
/* header */
#header {}
#header_inner {max-width: 1100px; margin: auto;}

/* container */
#container

/* lnb */
#lnb {}

/* main */
#main {}
#main_inner {max-width: 1100px; margin: auto;}

/* quick */
#quick {}

/* footer */
#footer {}
#footer_inner {max-width: 1100px; margin: auto;}
/* layout// */

/* logo */
#logo {}

/* gnb */
#gnb {}

/* gnb2 */
#gnb2 {position: absolute; right: 0px; top: 10px; font-weight: bold;}

/* table */
.tbl1 {width: 100%; border-spacing: 2px; border-collapse: collapse;}
	.tbl1 tr:nth-child(odd) {background: #f1f1f1;}
	
	.tbl1 .th {background: #ccc; padding: 8px 8px; box-sizing: border-box;
	border: solid 2px white;}
	
	.tbl1 td {border: solid 1px #ccc; padding:6px 6px; border-left: 0; border-right: 0; box-sizing: border-box;}
	.tbl1 .on td {background: #c6f0ff;}
	
/* button */
.btn_w {margin-top:25px; text-align: center;}

.btn {display:inline-block; background:white; border: solid 1px #ccc; text-decoration: none; padding: 0.3em 1em;
	color: #666; font-weight: bold; border-radius: 6px;}
.btn:hover {background: #ccc; transition: 500ms; color: #666;}

button.btn {background: #73a6d2; color: white;}

.btn_small {font-size: 12px;}

/* login form */
#login_form {max-width: 600px; margin: 100px auto;}