@charset "UTF-8";

/* # reset */
button {font-size: inherit; cursor: pointer;}

/* # custom */
.clfix,
.clearfix
{ content: ""; clear: both; display: table;}
.float_left {float: left;}

.pos_rel {position: relative;}
.pos_left {position:absolute; left: 0;}
.pos_top {position:absolute; top: 0;}

.align_center {text-align: center;}

.th_left .th {text-align: left;}
.th_center .th {text-align: center;}
.th_right .th {text-align: right;}

.td_left td {text-align: left;}
.td_center td {text-align: center;}
.td_right td {text-align: right;}

[readonly], [readonly=readonly] {border: none !important;}

.list_unstyled {padding:0; margin:0;}
.list_unstyled li {list-style: none;}



input[type="text"], input[type="password"], input[type="tel"]
{width: 100%;}

.grid {overflow: hidden;}
.grid > span {float: left; padding: 5px; box-sizing: border-box;}