@charset "UTF-8";

* {color: #555;}

#wrap {border: solid 1px #ccc; max-width: 1200px; margin: auto; padding: 0 30px 50px; box-sizing: border-box;}

#logo {text-align: center;}

h2 {margin-top:2em;}
li {margin: .5em 0;}

a[target] {background:#eee;border:solid 1px silver; font-size:.6em; margin-left:.4em;}

#outline {position: fixed; right: 100px; top: 50px;}